@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic");
/*$x-color-shade-black:   #1d1d21;
$x-color-shade-gray-10: #2e2e31;*/
/*
$x-color-shade-gray-3:  #a8b1b8;
*/
/*$x-color-shade-gray-1:  #e8ecf1;*/
/*$x-color-words-primary:    $x-color-primary-base;
$x-color-words-secondary:  $x-color-secondary-base;
$x-color-words-background: $x-color-shade-white;
$x-color-words-link:       $x-color-primary-base;
$x-color-words-hover:      $x-color-primary-dark;*/
/*$x-color-border-primary:          $x-color-primary-base;
$x-color-border-form:             $x-color-border-base;*/
/*$x-color-border-form-error:       $x-color-feedback-error;
$x-color-border-form-bg:          $x-color-shade-white;
$x-color-border-form-placeholder: $x-color-shade-gray-4;*/
/*$x-color-background-transparent: transparent;*/
/*$x-color-button-primary-bg:       $x-color-primary-bg;
$x-color-button-primary-hover:    $x-color-primary-light;
$x-color-button-primary-active:   $x-color-primary-dark;
$x-color-button-primary-label:    $x-color-shade-white;
$x-color-button-secondary-bg:     $x-color-secondary-bg;
$x-color-button-secondary-hover:  $x-color-secondary-light;
$x-color-button-secondary-active: $x-color-secondary-dark;
$x-color-button-secondary-label:  $x-color-shade-white;*/
body {
  --grid-column: 80px;
  --grid-gutter: 25px;
  --grid-column-count: 12;
  --grid-column-1: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-2: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-3: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-4: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-5: calc( 5 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-6: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-7: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-8: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-9: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-10: calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-11: calc( 11 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --grid-column-12: calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-unit: 1.5rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-base: calc(0.75 * 1.5rem);
  --space-column: 80px;
  --space-gutter: 25px;
  --space-column-count: 12;
  --space-column-1: calc( 1 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-2: calc( 2 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-3: calc( 3 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-4: calc( 4 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-5: calc( 5 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-6: calc( 6 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-7: calc( 7 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-8: calc( 8 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-9: calc( 9 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-10: calc( 10 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-11: calc( 11 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --space-column-12: calc( 12 * ( var(--grid-column) + var(--grid-gutter) ) - var(--grid-gutter));
  --font-size-base: 1em;
  --font-size-ratio: 1.2;
  --font-size-responsive-ratio: 1.167;
  --font-size-xxs: calc( 1em / ( var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) ) );
  --font-size-xs: calc( 1em / ( var(--font-size-ratio) * var(--font-size-ratio) ) );
  --font-size-sm: calc( 1em / var(--font-size-ratio) );
  --font-size-md: calc( 1em * var(--font-size-ratio) );
  --font-size-lg: calc( 1em * ( var(--font-size-ratio) * var(--font-size-ratio) ) );
  --font-size-xl: calc( 1em * ( var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) ) );
  --font-size-xxl: calc( 1em * ( var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) ) );
  --font-size-xxxl: calc( 1em * ( var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) * var(--font-size-ratio) ) );
  --font-family-body: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-heading: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-code: Menlo, monaco, Consolas, Lucida Console, monospace;
  --font-leading-body: 1.6;
  --font-leading-heading: 1.2;
  --font-leading-double: calc( var(--font-leading-heading) * 2);
  --font-leading-md: 1.4;
  --font-letter-spacing: .125em;
  --color-primary-base: #6e7381;
  --color-primary-dark: shade(#6e7381, 20%);
  --color-primary-light: tint(#6e7381, 20%);
  --color-primary-bg: tint(#6e7381, 80%);
  --color-secondary-base: #121733;
  --color-secondary-bg: tint(#121733, 80%);
  --color-secondary-light: tint(#121733, 20%);
  --color-secondary-dark: shade(#121733, 20%);
  --color-accent-base: #5f4bb6;
  --color-accent-light: tint(#5f4bb6, 20%);
  --color-shade-black: #1d1d21;
  --color-shade-gray-10: #2e2e31;
  --color-shade-gray-6: #91a3b0;
  --color-shade-gray-4: #8b949d;
  --color-shade-gray-3: #a8b1b8;
  --color-shade-gray-2: #e8ecf1;
  --color-shade-gray-1: #e8ecf1;
  --color-shade-white: #ffffff;
  --color-feedback-success: #88c459;
  --color-feedback-error: #f5414f;
  --color-feedback-warning: #ffd137;
  --color-words-base: #6e7381;
  --color-words-subtle: #91a3b0;
  --color-words-heading: #121733;
  --color-words-primary: #6e7381;
  --color-words-secondary: #121733;
  --color-words-background: #ffffff;
  --color-words-link: #6e7381;
  --color-words-hover: shade(#6e7381, 20%);
  --color-border-base: #e8ecf1;
  --color-border-primary: #6e7381;
  --color-border-form: #e8ecf1;
  --color-border-form-focus: #6e7381;
  --color-border-form-error: #f5414f;
  --color-border-form-bg: #ffffff;
  --color-border-form-placeholder: #8b949d;
  --color-background-body: #ffffff;
  --color-background-transparent: transparent;
  --color-button-primary-bg: tint(#6e7381, 80%);
  --color-button-primary-hover: tint(#6e7381, 20%);
  --color-button-primary-active: shade(#6e7381, 20%);
  --color-button-primary-label: #ffffff;
  --color-button-secondary-bg: tint(#121733, 80%);
  --color-button-secondary-hover: tint(#121733, 20%);
  --color-button-secondary-active: shade(#121733, 20%);
  --color-button-secondary-label: #ffffff;
}

/** === Typography === */
body:not(.gutenberg-editor-page) {
  font-size: 1em;
  font-size: var(--font-size-base);
}

@media only screen and (min-width: 815px) {
  body:not(.gutenberg-editor-page) {
    font-size: calc( 1em * 1.167);
    font-size: calc( var(--font-size-base) * var(--font-size-responsive-ratio));
  }
}

body:not(.gutenberg-editor-page),
button,
input,
select,
optgroup,
textarea {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-body);
  line-height: 1.6;
  line-height: var(--font-leading-body);
  color: #6e7381;
  color: var(--color-words-base);
  font-weight: 400;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
  clear: both;
  color: #121733;
  color: var(--color-words-heading);
  font-weight: 800;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  line-height: 1.2;
  line-height: var(--font-leading-heading);
}

h2 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
}

h5 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  letter-spacing: 0.125em;
  letter-spacing: var(--font-letter-spacing);
  text-transform: uppercase;
}

h6 {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  letter-spacing: 0.125em;
  letter-spacing: var(--font-letter-spacing);
  text-transform: uppercase;
}

/* text size */
.text--xxxl,
p.has-drop-cap:not(:focus):first-letter {
  font-size: calc( 1em * ( 1.2 * 1.2 * 1.2 * 1.2 * 1.2 ) );
  font-size: var(--font-size-xxxl);
}

p.has-drop-cap:not(:focus):first-letter {
  padding: .2em .2em 0 0;
}

h1,
.text--xxl,
big {
  font-size: calc( 1em * ( 1.2 * 1.2 * 1.2 * 1.2 ) );
  font-size: var(--font-size-xxl);
}

h2,
.text--xl,
.has-larger-font-size {
  font-size: calc( 1em * ( 1.2 * 1.2 * 1.2 ) );
  font-size: var(--font-size-xl);
}

.site-title,
h3,
.text--lg,
.has-large-font-size {
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  font-size: var(--font-size-lg);
}

h4,
.text--md,
.has-regular-font-size {
  font-size: calc( 1em * 1.2 );
  font-size: var(--font-size-md);
}

.text--sm,
small,
.has-small-font-size {
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
}

.text--xs {
  font-size: calc( 1em / ( 1.2 * 1.2 ) );
  font-size: var(--font-size-xs);
}

dfn, em, i {
  font-style: italic;
}

blockquote,
blockquote.is-large {
  border-left: 4px solid grey;
  border-left-color: #5f4bb6;
  border-left-color: var(--color-accent-base);
}

blockquote p,
blockquote.is-large p {
  font-size: 1em;
  font-size: var(--font-size-base);
  font-style: italic;
}

blockquote cite,
blockquote.is-large cite {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  font-size: calc( 1em / ( 1.2 * 1.2 ) );
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

blockquote.is-large p {
  font-size: calc( 1em * 1.2 );
  font-size: var(--font-size-md);
}

pre {
  font-family: Menlo, monaco, Consolas, Lucida Console, monospace;
  font-family: var(--font-family-code);
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
  line-height: 1.6;
  line-height: var(--font-leading-body);
}

code, kbd, tt, var, samp {
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
  font-family: Menlo, monaco, Consolas, Lucida Console, monospace;
  font-family: var(--font-family-code);
}

mark, ins {
  text-decoration: none;
}

a {
  color: #121733;
  color: var(--color-secondary-base);
  text-decoration: none;
}

a:hover {
  color: #6e7381;
  color: var(--color-primary-base);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

p {
  margin: 1em 0;
}

hr {
  background-color: #e8ecf1;
  background-color: var(--color-shade-gray-2);
  border: 0;
  height: 3px;
  margin-bottom: 1.5em;
}

abbr,
acronym {
  border-bottom: 1px dotted inherit;
  border-bottom-color: #e8ecf1;
  border-bottom-color: var(--color-border-base);
  cursor: help;
}

pre {
  background-color: #e8ecf1;
  background-color: var(--color-shade-gray-2);
  margin-bottom: calc(0.75 * 1.5rem);
  margin-bottom: var(--space-sm);
  max-width: 100%;
  overflow: auto;
  padding: calc(0.75 * 1.5rem);
  padding: var(--space-sm);
}

dt {
  font-weight: bold;
}

dd {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: calc(0.5 * 1.5rem);
  margin-bottom: var(--space-xs);
  margin-left: calc(0.5 * 1.5rem);
  margin-left: var(--space-xs);
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

blockquote,
blockquote.is-large {
  color: #121733;
  color: var(--color-secondary-base);
  margin-left: 0;
  margin-right: 0;
  padding: 0 calc(0.75 * 1.5rem);
  padding: 0 var(--space-sm);
}

blockquote p,
blockquote.is-large p {
  margin: 0;
  padding: calc(0.5 * 1.5rem) 0;
  padding: var(--space-xs) 0;
  word-break: break-word;
}

blockquote cite,
blockquote.is-large cite {
  color: #91a3b0;
  color: var(--color-words-subtle);
}

address {
  margin: 0 0 1.5em;
}

mark,
ins {
  background-color: #ffd137;
  background-color: var(--color-feedback-warning);
}

/** === !Blocks === */
/*$x-color-shade-black:   #1d1d21;
$x-color-shade-gray-10: #2e2e31;*/
/*
$x-color-shade-gray-3:  #a8b1b8;
*/
/*$x-color-shade-gray-1:  #e8ecf1;*/
/*$x-color-words-primary:    $x-color-primary-base;
$x-color-words-secondary:  $x-color-secondary-base;
$x-color-words-background: $x-color-shade-white;
$x-color-words-link:       $x-color-primary-base;
$x-color-words-hover:      $x-color-primary-dark;*/
/*$x-color-border-primary:          $x-color-primary-base;
$x-color-border-form:             $x-color-border-base;*/
/*$x-color-border-form-error:       $x-color-feedback-error;
$x-color-border-form-bg:          $x-color-shade-white;
$x-color-border-form-placeholder: $x-color-shade-gray-4;*/
/*$x-color-background-transparent: transparent;*/
/*$x-color-button-primary-bg:       $x-color-primary-bg;
$x-color-button-primary-hover:    $x-color-primary-light;
$x-color-button-primary-active:   $x-color-primary-dark;
$x-color-button-primary-label:    $x-color-shade-white;
$x-color-button-secondary-bg:     $x-color-secondary-bg;
$x-color-button-secondary-hover:  $x-color-secondary-light;
$x-color-button-secondary-active: $x-color-secondary-dark;
$x-color-button-secondary-label:  $x-color-shade-white;*/
.alignfull {
  max-width: calc( 8 * ( 80px + 25px ) - 25px);
  width: 100%;
}

@media only screen and (min-width: 815px) {
  .entry-content .alignwide {
    position: relative;
    width: calc( 12 * ( 80px + 25px ) - 25px);
    transform: translateX(-50%);
    max-width: calc( 100vw - 2 * 1em);
    margin-top: 1em;
    margin-bottom: 1em;
    left: 50%;
  }
  .entry-content .alignfull {
    position: relative;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 100vw;
    margin-top: 1em;
    margin-bottom: 1em;
    left: 50%;
  }
}

.entry-content .alignwide img, .entry-content .aligncenter img, .entry-content .alignfull img {
  margin: 0 auto;
}

.entry-content .aligncenter {
  margin: 1em auto;
  width: 100%;
}

.entry-content .alignleft {
  float: left;
  margin-right: calc(1.25 * 1.5rem);
  margin-bottom: calc(0.75 * 1.5rem);
}

.entry-content .alignright {
  float: right;
  margin-left: calc(1.25 * 1.5rem);
  margin-bottom: calc(0.75 * 1.5rem);
}

.has-background {
  padding: calc(0.75 * 1.5rem);
}

.has-purple-color {
  color: #5f4bb6;
}

.has-purple-background-color {
  background-color: #5f4bb6;
}

.has-light-gray-color {
  color: #e8ecf1;
}

.has-light-gray-background-color {
  background-color: #e8ecf1;
}

.has-medium-gray-color {
  color: #6e7381;
}

.has-medium-gray-background-color {
  background-color: #6e7381;
}

.has-dark-gray-color {
  color: #121733;
}

.has-dark-gray-background-color {
  background-color: #121733;
}

.wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link {
  background-color: #5f4bb6;
  color: #ffffff;
  padding: calc(0.25 * 1.5rem) calc(0.5 * 1.5rem);
  font-size: calc( 1em / 1.2 );
  line-height: 1.6;
  letter-spacing: 0.125em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-button .wp-block-button__link:hover {
  background-color: tint(#5f4bb6, 20%);
}

.wp-block-file .wp-block-file__button:active, .wp-block-file .wp-block-file__button:focus,
.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus {
  background-color: tint(#5f4bb6, 20%);
}

@media only screen and (min-width: 815px) {
  .wp-block-file .wp-block-file__button,
  .wp-block-button .wp-block-button__link {
    padding: calc(0.5 * 1.5rem) calc(0.75 * 1.5rem);
  }
}

.wp-block-audio audio {
  width: 100%;
}

.wp-block-audio.alignleft audio,
.wp-block-audio.alignright audio {
  width: 285px;
}

@media only screen and (min-width: 815px) {
  .wp-block-audio.alignleft audio,
  .wp-block-audio.alignright audio {
    width: calc( 3 * ( 80px + 25px ) - 25px);
  }
}

.wp-block-image img {
  display: block;
}

.wp-block-image img.alignleft, .wp-block-image img.alignright {
  max-width: 100%;
}

.wp-block-image img.alignfull img {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image .alignleft figcaption,
.wp-block-image .alignleft .wp-caption-text,
.wp-block-image .aligncenter figcaption,
.wp-block-image .aligncenter .wp-caption-text,
.wp-block-image .alignright figcaption,
.wp-block-image .alignright .wp-caption-text {
  margin-top: 0.8em;
}

.wp-block-cover-image {
  width: inherit;
}

@media only screen and (min-width: 815px) {
  .wp-block-cover-image {
    width: 100%;
  }
}

.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright {
  width: auto;
}

.wp-block-cover-image.alignleft {
  margin-top: 0;
  margin-right: calc(1.25 * 1.5rem);
}

.wp-block-cover-image.alignright {
  margin-top: 0;
  margin-left: calc(1.25 * 1.5rem);
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
  font-weight: 400;
  padding: calc(1.25 * 1.5rem);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
}

[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover-image {
  max-width: 285px;
}

@media only screen and (min-width: 815px) {
  [data-align=left] .wp-block-cover-image,
  [data-align=right] .wp-block-cover-image {
    max-width: calc( 3 * ( 80px + 25px ) - 25px);
  }
}

.wp-caption .wp-caption-text,
.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-quote .wp-block-quote__citation,
.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite {
  color: #91a3b0;
  font-size: calc( 1em / 1.2 );
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: calc(0.25 * 1.5rem) 0;
  font-style: normal;
  text-align: left;
  text-transform: none;
  margin: 0;
}

.wp-block-audio.alignfull figcaption,
.wp-block-video.alignfull figcaption,
.wp-block-image.alignfull figcaption,
.wp-block-gallery.alignfull .blocks-gallery-image figcaption,
.wp-block-gallery.alignfull .blocks-gallery-item figcaption {
  padding: calc(0.5 * 1.5rem) calc(0.75 * 1.5rem);
}

.wp-block-audio.alignfull figcaption a,
.wp-block-video.alignfull figcaption a,
.wp-block-image.alignfull figcaption a,
.wp-block-gallery.alignfull .blocks-gallery-image figcaption a,
.wp-block-gallery.alignfull .blocks-gallery-item figcaption a {
  color: #ffffff;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  color: #ffffff;
}

.wp-block-text-columns,
.wp-block-columns {
  justify-content: space-between;
}

.wp-block-text-columns.has-2-columns .wp-block-column,
.wp-block-columns.has-2-columns .wp-block-column {
  width: calc( 50% - ( $x-space-gutter * .5 ));
}

.wp-block-text-columns.has-3-columns .wp-block-column,
.wp-block-columns.has-3-columns .wp-block-column {
  width: calc( 33% - ( $x-space-gutter * .33 ));
}

.wp-block-text-columns.has-4-columns .wp-block-column,
.wp-block-columns.has-4-columns .wp-block-column {
  width: calc( 25% - ( $x-space-gutter * .25 ));
}

@media only screen and (min-width: 815px) {
  .wp-block-categories,
  .wp-block-archives,
  .wp-block-latest-posts {
    padding-left: calc(2 * 1.5rem);
    padding-right: calc(2 * 1.5rem);
  }
}

.wp-block-categories li,
ul.wp-block-archives li,
ul.wp-block-latest-posts li,
ol.wp-block-latest-comments li {
  font-size: 1em;
}

.wp-block-categories li:nth-child(n+2),
ul.wp-block-archives li:nth-child(n+2),
ul.wp-block-latest-posts li:nth-child(n+2),
ol.wp-block-latest-comments li:nth-child(n+2) {
  margin-top: 0.15em;
}

.wp-block-categories li:before,
ul.wp-block-archives li:before,
ul.wp-block-latest-posts li:before,
ol.wp-block-latest-comments li:before {
  font-size: calc( 1em / ( 1.2 * 1.2 * 1.2 ) );
  line-height: 2.4em;
}

.wp-block-categories li li,
ul.wp-block-archives li li,
ul.wp-block-latest-posts li li,
ol.wp-block-latest-comments li li {
  font-size: 1em;
}

.wp-block-categories.is-grid,
ul.wp-block-archives.is-grid,
ul.wp-block-latest-posts.is-grid,
ol.wp-block-latest-comments.is-grid {
  justify-content: space-between;
}

.wp-block-categories.is-grid li,
ul.wp-block-archives.is-grid li,
ul.wp-block-latest-posts.is-grid li,
ol.wp-block-latest-comments.is-grid li {
  margin-right: 0;
  margin-bottom: calc(0.75 * 1.5rem);
}

@media only screen and (min-width: 815px) {
  .wp-block-categories.columns-2 li,
  ul.wp-block-archives.columns-2 li,
  ul.wp-block-latest-posts.columns-2 li,
  ol.wp-block-latest-comments.columns-2 li {
    width: calc( 50% - ( $x-grid-gutter * .5));
  }
}

ol.wp-block-latest-comments > li:before {
  content: '';
}

ol.wp-block-latest-comments li {
  padding-left: 0;
}

@media only screen and (min-width: 815px) {
  ol.wp-block-latest-comments li {
    padding-left: calc(1.25 * 1.5rem);
  }
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.entry-content table,
.wp-block-table {
  overflow-x: auto;
}

.entry-content table td,
.entry-content table th,
.wp-block-table td,
.wp-block-table th {
  padding: .5em;
  text-align: left;
}

.entry-content table tr:nth-child(even),
.wp-block-table tr:nth-child(even) {
  background-color: #e8ecf1;
}

.entry-content table thead tr:nth-child(odd),
.wp-block-table thead tr:nth-child(odd) {
  background-color: tint(#6e7381, 80%);
}

.entry-content table,
.wp-block-table table,
table.wp-block-table {
  border-collapse: collapse;
}

.wp-block-embed iframe {
  width: 100%;
}

.wp-block-embed > *,
.wp-block-embed > .jetpack-video-wrapper > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wp-block-quote {
  max-width: 100%;
  width: 100%;
}

#page .wp-block-quote {
  margin-top: calc(2 * 1.5rem);
  margin-bottom: calc(2 * 1.5rem);
  margin-right: 0;
  margin-left: 0;
}

.wp-block-quote p {
  margin: 0;
  padding: calc(0.5 * 1.5rem) calc(0.75 * 1.5rem);
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding-left: calc(1.25 * 1.5rem);
}

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  padding-left: 1em;
  line-height: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.wp-block-quote.is-large p, .wp-block-quote.is-large cite, .wp-block-quote.is-style-large p, .wp-block-quote.is-style-large cite {
  padding-left: 0;
}

.wp-block-quote.is-large cite, .wp-block-quote.is-style-large cite {
  font-size: calc( calc( 1em * 1.2 ) * 0.92);
}

.wp-block-quote cite {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: calc( 1em / 1.2 );
  color: #91a3b0;
  padding: 0 calc(0.75 * 1.5rem);
  font-style: normal;
  font-weight: 500;
}

@media only screen and (min-width: 815px) {
  .wp-block-quote {
    max-width: calc( 7 * ( 80px + 25px ) - 25px);
    margin-right: calc( 3 * ( 80px + 25px ) - 25px);
    margin-left: auto;
  }
}

.wp-block-pullquote {
  margin-top: calc(2 * 1.5rem);
  margin-bottom: calc(2 * 1.5rem);
  text-align: inherit;
  padding: 0;
}

.wp-block-pullquote p {
  margin: 0;
  font-size: calc( 1em * 1.2 );
}

.wp-block-pullquote.is-large p,
.wp-block-pullquote.is-style-large p {
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  line-height: 1.2;
}

.wp-block-pullquote blockquote,
.wp-block-pullquote > p,
.wp-block-pullquote > cite {
  padding-left: calc(0.75 * 1.5rem);
  padding-right: calc(0.75 * 1.5rem);
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
}

@media only screen and (min-width: 815px) {
  .wp-block-pullquote.alignwide blockquote,
  .wp-block-pullquote.alignwide > p,
  .wp-block-pullquote.alignwide > cite, .wp-block-pullquote.alignfull blockquote,
  .wp-block-pullquote.alignfull > p,
  .wp-block-pullquote.alignfull > cite {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
  margin-top: 0;
  margin-bottom: calc(0.75 * 1.5rem);
}

.wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-pullquote.alignleft blockquote p, .wp-block-pullquote.alignright blockquote p {
  padding-top: 0;
}

.wp-block-pullquote > p:first-child {
  margin-top: 0;
}

.wp-block-pullquote.alignfull {
  max-width: calc( 100vw - 2em) !important;
}

.wp-block-separator {
  margin-top: calc(1.25 * 1.5rem) !important;
  margin-bottom: calc(1.25 * 1.5rem) !important;
  padding: 0;
  width: 100px;
}

.wp-block-separator.is-style-wide {
  width: 100%;
}

.wp-block-separator.is-style-dots {
  background-color: #ffffff;
  width: auto;
}

.wp-block-separator.is-style-dots:before {
  content: "\00b7 \00b7 \00b7 \00b7 \00b7";
  color: #8b949d;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* family@include globalvar(font-family, body); */
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  letter-spacing: 1em;
  padding-left: 1em;
}

@media only screen and (min-width: 815px) {
  .wp-block-separator.is-style-dots {
    max-width: calc( 6 * ( 80px + 25px ) - 25px);
  }
}

.wp-block-file > a:first-child {
  color: inherit;
  box-shadow: none;
}

.wp-block-file > a:first-child:hover {
  text-decoration: underline;
}

.wp-block-file.aligncenter, .wp-block-file.alignfull, .wp-block-file.alignwide {
  text-align: center;
}

@media only screen and (min-width: 815px) {
  .wp-block-file.alignfull {
    padding: 0 calc(0.75 * 1.5rem);
  }
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  display: inline-block;
  padding: calc(0.25 * 1.5rem);
  font-size: calc( 1em / 1.2 );
  font-style: italic;
}

.wp-block-embed.alignwide iframe, .wp-block-embed.alignfull iframe, .wp-block-embed.aligncenter iframe {
  margin: 0 auto !important;
}

.gutenberg .edit-post-visual-editor, p {
  font-size: 1em;
  font-size: var(--font-size-base);
}

@media only screen and (min-width: 815px) {
  .gutenberg .edit-post-visual-editor, p {
    font-size: calc( 1em * 0.95065 * 1.167);
    font-size: calc( var(--font-size-base) * 0.95065 * var(--font-size-responsive-ratio));
  }
}

.gutenberg .edit-post-visual-editor h1, .gutenberg .edit-post-visual-editor h2, .gutenberg .edit-post-visual-editor h3, .gutenberg .edit-post-visual-editor h4, .gutenberg .edit-post-visual-editor h5, .gutenberg .edit-post-visual-editor h6, p h1, p h2, p h3, p h4, p h5, p h6 {
  margin-top: 0.83em;
}

@media only screen and (min-width: 1025px) {
  .block-editor-page .editor-post-title {
    margin: 0 auto;
  }
  .block-editor-page .editor-post-title__block {
    max-width: 740px !important;
  }
}

.wp-block-columns p {
  font-size: 0.810em;
}

.gutenberg .editor-block-list__block blockquote p,
.gutenberg .editor-block-list__block blockquote.is-large p {
  font-size: 1em;
  font-size: var(--font-size-base);
  padding-left: 0;
}

@media only screen and (min-width: 815px) {
  .gutenberg .editor-block-list__block blockquote p,
  .gutenberg .editor-block-list__block blockquote.is-large p {
    font-size: calc( 1em * 0.95065 * 1.167);
    font-size: calc( var(--font-size-base) * 0.95065 * var(--font-size-responsive-ratio));
  }
}

.editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-block-list__layout > .editor-block-list__block > .editor-block-list__block-edit,
.editor-block-list__layout > .editor-default-block-appender__content {
  margin-top: 0;
  margin-bottom: 0;
}

.edit-post-visual-editor .editor-block-list__block[data-align=wide] {
  max-width: calc( 12 * ( 80px + 25px ) - 25px);
  max-width: var(--space-column-12);
}

.editor-default-block-appender input[type="text"].editor-default-block-appender__content,
.editor-post-title .editor-post-title__input,
.edit-post-visual-editor,
.edit-post-visual-editor p {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-body);
}

.editor-post-title .editor-post-title__input {
  font-size: calc( 1em * ( 1.2 * 1.2 * 1.2 ) );
  font-size: var(--font-size-xl);
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.85rem;
}

@media only screen and (min-width: 815px) {
  .editor-post-title .editor-post-title__input {
    font-size: calc( calc( 1em * ( 1.2 * 1.2 * 1.2 * 1.2 * 1.2 ) ) * 1.175);
    font-size: calc( var(--font-size-xxxl) * 1.175);
  }
}

.editor-block-list__block {
  margin: 0 auto;
}

@media only screen and (min-width: 1025px) {
  .editor-block-list__block {
    max-width: calc( 7 * ( 80px + 25px ) - 25px);
    max-width: var(--grid-column-7);
    min-width: 740px;
  }
}

.wp-block-columns .editor-block-list__block {
  min-width: auto;
}

.editor-block-list__block[data-type="core/table"] .wp-block-table {
  max-width: 100%;
}

.editor-block-list__block[data-type="core/table"][data-align=center] table {
  width: 100%;
}

.editor-rich-text__tinymce.mce-content-body {
  line-height: 1.6;
  line-height: var(--font-leading-body);
}

.editor-block-list__layout a {
  background-image: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
}

.editor-block-list__layout a:hover {
  background-image: none;
}

.editor-block-list__layout
.block-library-list .editor-rich-text__tinymce {
  margin-left: 0;
}

.editor-block-list__layout
.block-library-list ol {
  list-style: none;
  padding-left: 0;
}

.editor-block-list__layout
.block-library-list ol > li {
  counter-increment: sans-counter;
  position: relative;
  padding-left: calc(1.25 * 1.5rem);
  padding-left: var(--space-md);
}

.editor-block-list__layout
.block-library-list ol > li ol li {
  padding-left: calc(1.25 * 1.5rem);
  padding-left: var(--space-md);
}

.editor-block-list__layout
.block-library-list ol > li ul li {
  padding-left: calc(0.75 * 1.5rem);
  padding-left: var(--space-sm);
}

.editor-block-list__layout
.block-library-list ol > li:before {
  content: counter(sans-counter, decimal-leading-zero) " ";
  left: 0;
  position: absolute;
  top: calc(0.25 * 1.5rem);
  top: var(--space-xxs);
  color: #6e7381;
  color: var(--color-primary-base);
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: var(--font-family-heading);
  font-size: calc( 1em / ( 1.2 * 1.2 ) );
  font-size: var(--font-size-xs);
  line-height: 1.4;
  line-height: var(--font-leading-md);
}

.gutenberg .wp-block-categories ul,
.gutenberg .wp-block-latest-posts,
.gutenberg ul.wp-block-archives {
  padding-left: 0.5em;
}

[data-align="full"] .wp-block-categories ul,
[data-align="full"] .wp-block-latest-posts,
[data-align="full"] ul.wp-block-archives {
  padding-left: calc(2 * 1.5rem);
  padding-left: var(--space-lg);
}

hr {
  background-color: #e8ecf1;
  background-color: var(--color-shade-gray-2);
  border: 0;
  height: 3px;
  margin-bottom: 1.5em;
}

.edit-post-visual-editor .editor-block-list__block[data-align=full] > .editor-block-list__block-edit {
  margin-left: 0;
  margin-right: 0;
}

.edit-post-visual-editor .editor-block-list__block[data-align=full] .wp-block-pullquote blockquote {
  max-width: calc( 100vw - 2em);
}

.wp-block-pullquote blockquote > .block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty=true]:before,
.wp-block-pullquote blockquote > .editor-rich-text p {
  font-size: calc( calc( 1em * 1.2 ) * 1.056);
  font-size: calc( var(--font-size-md) * 1.056);
}

blockquote {
  max-width: 1100px;
  margin: 0 auto;
  border-left-color: #5f4bb6 !important;
  border-left-color: var(--color-accent-base) !important;
}

blockquote.wp-block-quote.is-style-large {
  padding-left: calc(3.25 * 1.5rem);
  padding-left: var(--space-xl);
}

@media only screen and (min-width: 815px) {
  blockquote.wp-block-quote, blockquote.wp-block-quote.is-large, blockquote.wp-block-quote.is-style-large {
    margin-right: 0;
  }
}

blockquote .wp-block-quote__citation {
  padding-left: var(--space-sm);
}

.wp-block-pullquote {
  border-bottom: none;
  border-top: none;
}

@media only screen and (min-width: 815px) {
  .wp-block-text-columns,
  .wp-block-columns {
    margin-right: 0;
  }
}

.wp-block-image figcaption {
  margin-top: 0.8em;
}

.wp-block-table td,
.wp-block-table th {
  border-width: 0;
}

.wp-block-categories,
.wp-block-archives,
.wp-block-latest-posts,
.wp-block-latest-comments {
  font-size: calc( calc( 1em * 1.2 ) * 0.86);
  font-size: calc( var(--font-size-md) * 0.86);
}

.wp-block-categories li a,
.wp-block-archives li a,
.wp-block-latest-posts li a,
.wp-block-latest-comments li a {
  background-image: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
}

.wp-block-categories li a:hover,
.wp-block-archives li a:hover,
.wp-block-latest-posts li a:hover,
.wp-block-latest-comments li a:hover {
  background-image: none;
}

.wp-caption .wp-caption-text,
.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-quote .wp-block-quote__citation,
.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite {
  font-size: calc( calc( 1em / 1.2 ) * 1.05);
  font-size: calc( var(--font-size-sm) * 1.05);
}

.wp-block-gallery .blocks-gallery-item figcaption {
  margin-bottom: -10px;
}

.wp-block-gallery.alignfull {
  max-width: 100%;
  width: calc( 100% - 2 * 1em);
  margin: 0 auto;
}

.edit-post-visual-editor .editor-block-list__block[data-align=full] {
  padding: 0;
}

.wp-block-quote.is-style-default .wp-block-quote__citation {
  font-size: calc( calc( 1em / 1.2 ) * 1.1205);
  font-size: calc( var(--font-size-sm) * 1.1205);
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  padding-left: calc( calc(2 * 1.5rem) * 0.75);
  padding-left: calc( var(--space-lg) * 0.75);
}

.gutenberg .editor-block-list__block blockquote.wp-block-quote.is-style-large {
  padding-left: calc(1.25 * 1.5rem);
  padding-left: var(--space-md);
}

.gutenberg .editor-block-list__block blockquote.wp-block-quote.is-style-large p {
  font-size: calc( calc( 1em * ( 1.2 * 1.2 ) ) * 1.10);
  font-size: calc( var(--font-size-lg) * 1.10);
}

.gutenberg .editor-block-list__block blockquote.wp-block-quote.is-style-large .wp-block-quote__citation {
  font-size: calc( 1em * 1.2 );
  font-size: var(--font-size-md);
}

.editor-block-list__block[data-type="core/paragraph"] a {
  background-image: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
  background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
}

.editor-block-list__block[data-type="core/paragraph"] a:hover {
  background-image: none;
}

.editor-block-list__block[data-type="core/separator"] {
  margin-top: calc(2 * 1.5rem);
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * 1.5rem);
  margin-bottom: var(--space-lg);
}

.gutenberg .editor-block-list__block .wp-block-image .mce-content-body {
  font-size: calc( 1em / ( 1.2 * 1.2 ) ) !important;
  font-size: var(--font-size-xs) !important;
}
