/** === !Blocks === */
/*$x-color-shade-black:   #1d1d21;
$x-color-shade-gray-10: #2e2e31;*/
/*
$x-color-shade-gray-3:  #a8b1b8;
*/
/*$x-color-shade-gray-1:  #e8ecf1;*/
/*$x-color-words-primary:    $x-color-primary-base;
$x-color-words-secondary:  $x-color-secondary-base;
$x-color-words-background: $x-color-shade-white;
$x-color-words-link:       $x-color-primary-base;
$x-color-words-hover:      $x-color-primary-dark;*/
/*$x-color-border-primary:          $x-color-primary-base;
$x-color-border-form:             $x-color-border-base;*/
/*$x-color-border-form-error:       $x-color-feedback-error;
$x-color-border-form-bg:          $x-color-shade-white;
$x-color-border-form-placeholder: $x-color-shade-gray-4;*/
/*$x-color-background-transparent: transparent;*/
/*$x-color-button-primary-bg:       $x-color-primary-bg;
$x-color-button-primary-hover:    $x-color-primary-light;
$x-color-button-primary-active:   $x-color-primary-dark;
$x-color-button-primary-label:    $x-color-shade-white;
$x-color-button-secondary-bg:     $x-color-secondary-bg;
$x-color-button-secondary-hover:  $x-color-secondary-light;
$x-color-button-secondary-active: $x-color-secondary-dark;
$x-color-button-secondary-label:  $x-color-shade-white;*/
.alignfull {
  max-width: calc( 8 * ( 80px + 25px ) - 25px);
  max-width: var(--grid-column-8);
  width: 100%;
}

@media only screen and (min-width: 815px) {
  .entry-content .alignwide {
    position: relative;
    width: calc( 12 * ( 80px + 25px ) - 25px);
    width: var(--space-column-12);
    transform: translateX(-50%);
    max-width: calc( 100vw - 2 * 1em);
    margin-top: 1em;
    margin-bottom: 1em;
    left: 50%;
  }
  .entry-content .alignfull {
    position: relative;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 100vw;
    margin-top: 1em;
    margin-bottom: 1em;
    left: 50%;
  }
}

.entry-content .alignwide img, .entry-content .aligncenter img, .entry-content .alignfull img {
  margin: 0 auto;
}

.entry-content .aligncenter {
  margin: 1em auto;
  width: 100%;
}

.entry-content .alignleft {
  float: left;
  margin-right: calc(1.25 * 1.5rem);
  margin-right: var(--space-md);
  margin-bottom: calc(0.75 * 1.5rem);
  margin-bottom: var(--space-sm);
}

.entry-content .alignright {
  float: right;
  margin-left: calc(1.25 * 1.5rem);
  margin-left: var(--space-md);
  margin-bottom: calc(0.75 * 1.5rem);
  margin-bottom: var(--space-sm);
}

.has-background {
  padding: calc(0.75 * 1.5rem);
  padding: var(--space-sm);
}

.has-purple-color {
  color: #5f4bb6;
  color: var(--color-accent-base);
}

.has-purple-background-color {
  background-color: #5f4bb6;
  background-color: var(--color-accent-base);
}

.has-light-gray-color {
  color: #e8ecf1;
  color: var(--color-border-base);
}

.has-light-gray-background-color {
  background-color: #e8ecf1;
  background-color: var(--color-border-base);
}

.has-medium-gray-color {
  color: #6e7381;
  color: var(--color-primary-base);
}

.has-medium-gray-background-color {
  background-color: #6e7381;
  background-color: var(--color-primary-base);
}

.has-dark-gray-color {
  color: #121733;
  color: var(--color-secondary-base);
}

.has-dark-gray-background-color {
  background-color: #121733;
  background-color: var(--color-secondary-base);
}

.wp-block-file .wp-block-file__button,
.wp-block-button .wp-block-button__link {
  background-color: #5f4bb6;
  background-color: var(--color-accent-base);
  color: #ffffff;
  color: var(--color-shade-white);
  padding: calc(0.25 * 1.5rem) calc(0.5 * 1.5rem);
  padding: var(--space-xxs) var(--space-xs);
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
  line-height: 1.6;
  line-height: var(--font-leading-body);
  letter-spacing: 0.125em;
  letter-spacing: var(--font-letter-spacing);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-button .wp-block-button__link:hover {
  background-color: tint(#5f4bb6, 20%);
  background-color: var(--color-accent-light);
}

.wp-block-file .wp-block-file__button:active, .wp-block-file .wp-block-file__button:focus,
.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus {
  background-color: tint(#5f4bb6, 20%);
  background-color: var(--color-accent-light);
}

@media only screen and (min-width: 815px) {
  .wp-block-file .wp-block-file__button,
  .wp-block-button .wp-block-button__link {
    padding: calc(0.5 * 1.5rem) calc(0.75 * 1.5rem);
    padding: var(--space-xs) var(--space-sm);
  }
}

.wp-block-audio audio {
  width: 100%;
}

.wp-block-audio.alignleft audio,
.wp-block-audio.alignright audio {
  width: 285px;
}

@media only screen and (min-width: 815px) {
  .wp-block-audio.alignleft audio,
  .wp-block-audio.alignright audio {
    width: calc( 3 * ( 80px + 25px ) - 25px);
    width: var(--grid-column-3);
  }
}

.wp-block-image img {
  display: block;
}

.wp-block-image img.alignleft, .wp-block-image img.alignright {
  max-width: 100%;
}

.wp-block-image img.alignfull img {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image .alignleft figcaption,
.wp-block-image .alignleft .wp-caption-text,
.wp-block-image .aligncenter figcaption,
.wp-block-image .aligncenter .wp-caption-text,
.wp-block-image .alignright figcaption,
.wp-block-image .alignright .wp-caption-text {
  margin-top: 0.8em;
}

.wp-block-cover-image {
  width: inherit;
}

@media only screen and (min-width: 815px) {
  .wp-block-cover-image {
    width: 100%;
  }
}

.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright {
  width: auto;
}

.wp-block-cover-image.alignleft {
  margin-top: 0;
  margin-right: calc(1.25 * 1.5rem);
  margin-right: var(--space-md);
}

.wp-block-cover-image.alignright {
  margin-top: 0;
  margin-left: calc(1.25 * 1.5rem);
  margin-left: var(--space-md);
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
  font-weight: 400;
  padding: calc(1.25 * 1.5rem);
  padding: var(--space-md);
  font-family: var(--font-family-body);
  line-height: 1.2;
  line-height: var(--font-leading-heading);
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
}

[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover-image {
  max-width: 285px;
}

@media only screen and (min-width: 815px) {
  [data-align=left] .wp-block-cover-image,
  [data-align=right] .wp-block-cover-image {
    max-width: calc( 3 * ( 80px + 25px ) - 25px);
    max-width: var(--grid-column-3);
  }
}

.wp-caption .wp-caption-text,
.wp-block-audio figcaption,
.wp-block-video figcaption,
.wp-block-image figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.wp-block-quote .wp-block-quote__citation,
.wp-block-pullquote .wp-block-pullquote__citation,
.wp-block-pullquote cite {
  color: #91a3b0;
  color: var(--color-words-subtle);
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
  font-family: var(--font-family-heading);
  padding: calc(0.25 * 1.5rem) 0;
  padding: var(--space-xxs) 0;
  font-style: normal;
  text-align: left;
  text-transform: none;
  margin: 0;
}

.wp-block-audio.alignfull figcaption,
.wp-block-video.alignfull figcaption,
.wp-block-image.alignfull figcaption,
.wp-block-gallery.alignfull .blocks-gallery-image figcaption,
.wp-block-gallery.alignfull .blocks-gallery-item figcaption {
  padding: calc(0.5 * 1.5rem) calc(0.75 * 1.5rem);
  padding: var(--space-xs) var(--space-sm);
}

.wp-block-audio.alignfull figcaption a,
.wp-block-video.alignfull figcaption a,
.wp-block-image.alignfull figcaption a,
.wp-block-gallery.alignfull .blocks-gallery-image figcaption a,
.wp-block-gallery.alignfull .blocks-gallery-item figcaption a {
  color: #ffffff;
  color: var(--color-shade-white);
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  color: #ffffff;
  color: var(--color-shade-white);
}

.wp-block-text-columns,
.wp-block-columns {
  justify-content: space-between;
}

.wp-block-text-columns.has-2-columns .wp-block-column,
.wp-block-columns.has-2-columns .wp-block-column {
  width: calc( 50% - ( $x-space-gutter * .5 ));
  width: calc( 50% - ( var(--space-gutter) * .5 ));
}

.wp-block-text-columns.has-3-columns .wp-block-column,
.wp-block-columns.has-3-columns .wp-block-column {
  width: calc( 33% - ( $x-space-gutter * .33 ));
  width: calc( 33% - ( var(--space-gutter) * .33 ));
}

.wp-block-text-columns.has-4-columns .wp-block-column,
.wp-block-columns.has-4-columns .wp-block-column {
  width: calc( 25% - ( $x-space-gutter * .25 ));
  width: calc( 25% - ( var(--space-gutter) * .25 ));
}

@media only screen and (min-width: 815px) {
  .wp-block-categories,
  .wp-block-archives,
  .wp-block-latest-posts {
    padding-left: calc(2 * 1.5rem);
    padding-left: var(--space-lg);
    padding-right: calc(2 * 1.5rem);
    padding-right: var(--space-lg);
  }
}

.wp-block-categories li,
ul.wp-block-archives li,
ul.wp-block-latest-posts li,
ol.wp-block-latest-comments li {
  font-size: 1em;
  font-size: var(--font-size-base);
}

.wp-block-categories li:nth-child(n+2),
ul.wp-block-archives li:nth-child(n+2),
ul.wp-block-latest-posts li:nth-child(n+2),
ol.wp-block-latest-comments li:nth-child(n+2) {
  margin-top: 0.15em;
}

.wp-block-categories li:before,
ul.wp-block-archives li:before,
ul.wp-block-latest-posts li:before,
ol.wp-block-latest-comments li:before {
  font-size: calc( 1em / ( 1.2 * 1.2 * 1.2 ) );
  font-size: var(--font-size-xxs);
  line-height: 2.4em;
}

.wp-block-categories li li,
ul.wp-block-archives li li,
ul.wp-block-latest-posts li li,
ol.wp-block-latest-comments li li {
  font-size: 1em;
}

.wp-block-categories.is-grid,
ul.wp-block-archives.is-grid,
ul.wp-block-latest-posts.is-grid,
ol.wp-block-latest-comments.is-grid {
  justify-content: space-between;
}

.wp-block-categories.is-grid li,
ul.wp-block-archives.is-grid li,
ul.wp-block-latest-posts.is-grid li,
ol.wp-block-latest-comments.is-grid li {
  margin-right: 0;
  margin-bottom: calc(0.75 * 1.5rem);
  margin-bottom: var(--space-sm);
}

@media only screen and (min-width: 815px) {
  .wp-block-categories.columns-2 li,
  ul.wp-block-archives.columns-2 li,
  ul.wp-block-latest-posts.columns-2 li,
  ol.wp-block-latest-comments.columns-2 li {
    width: calc( 50% - ( $x-grid-gutter * .5));
    width: calc( 50% - ( var(--grid-gutter) * .5));
  }
}

ol.wp-block-latest-comments > li:before {
  content: '';
}

ol.wp-block-latest-comments li {
  padding-left: 0;
}

@media only screen and (min-width: 815px) {
  ol.wp-block-latest-comments li {
    padding-left: calc(1.25 * 1.5rem);
    padding-left: var(--space-md);
  }
}

.wp-block-latest-comments__comment-excerpt p {
  font-size: inherit;
}

.entry-content table,
.wp-block-table {
  overflow-x: auto;
}

.entry-content table td,
.entry-content table th,
.wp-block-table td,
.wp-block-table th {
  padding: .5em;
  text-align: left;
}

.entry-content table tr:nth-child(even),
.wp-block-table tr:nth-child(even) {
  background-color: #e8ecf1;
  background-color: var(--color-shade-gray-2);
}

.entry-content table thead tr:nth-child(odd),
.wp-block-table thead tr:nth-child(odd) {
  background-color: tint(#6e7381, 80%);
  background-color: var(--color-primary-bg);
}

.entry-content table,
.wp-block-table table,
table.wp-block-table {
  border-collapse: collapse;
  max-width: calc( 100% - ( var(--space-sm) * 2 ));
}

@media only screen and (min-width: 815px) {
  .entry-content table,
  .wp-block-table table,
  table.wp-block-table {
    max-width: var(--grid-column-7);
  }
}

.wp-block-embed iframe {
  width: 100%;
}

.wp-block-embed > *,
.wp-block-embed > .jetpack-video-wrapper > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wp-block-quote {
  max-width: 100%;
  width: 100%;
}

#page .wp-block-quote {
  margin-top: calc(2 * 1.5rem);
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * 1.5rem);
  margin-bottom: var(--space-lg);
  margin-right: 0;
  margin-left: 0;
}

.wp-block-quote p {
  margin: 0;
  padding: calc(0.5 * 1.5rem) calc(0.75 * 1.5rem);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-size-base);
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding-left: calc(1.25 * 1.5rem);
  padding-left: var(--space-md);
}

.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  font-size: var(--font-size-lg);
  padding-left: 1em;
  line-height: var(--font-family-heading);
}

.wp-block-quote.is-large p, .wp-block-quote.is-large cite, .wp-block-quote.is-style-large p, .wp-block-quote.is-style-large cite {
  padding-left: 0;
}

.wp-block-quote.is-large cite, .wp-block-quote.is-style-large cite {
  font-size: calc( calc( 1em * 1.2 ) * 0.92);
  font-size: calc( var(--font-size-md) * 0.92);
}

.wp-block-quote cite {
  font-family: var(--font-family-heading);
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
  color: #91a3b0;
  color: var(--color-words-subtle);
  padding: 0 calc(0.75 * 1.5rem);
  padding: 0 var(--space-sm);
  font-style: normal;
  font-weight: 500;
}

@media only screen and (min-width: 815px) {
  .wp-block-quote {
    max-width: calc( 7 * ( 80px + 25px ) - 25px);
    max-width: var(--grid-column-7);
    margin-right: calc( 3 * ( 80px + 25px ) - 25px);
    margin-right: var(--grid-column-3);
    margin-left: auto;
  }
}

.wp-block-pullquote {
  margin-top: calc(2 * 1.5rem);
  margin-top: var(--space-lg);
  margin-bottom: calc(2 * 1.5rem);
  margin-bottom: var(--space-lg);
  text-align: inherit;
  padding: 0;
}

.wp-block-pullquote p {
  margin: 0;
  font-size: calc( 1em * 1.2 );
  font-size: var(--font-size-md);
}

.wp-block-pullquote.is-large p,
.wp-block-pullquote.is-style-large p {
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  font-size: var(--font-size-lg);
  line-height: 1.2;
  line-height: var(--font-leading-heading);
}

.wp-block-pullquote blockquote,
.wp-block-pullquote > p,
.wp-block-pullquote > cite {
  padding-left: calc(0.75 * 1.5rem);
  padding-left: var(--space-sm);
  padding-right: calc(0.75 * 1.5rem);
  padding-right: var(--space-sm);
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 100%;
}

@media only screen and (min-width: 815px) {
  .wp-block-pullquote.alignwide blockquote,
  .wp-block-pullquote.alignwide > p,
  .wp-block-pullquote.alignwide > cite, .wp-block-pullquote.alignfull blockquote,
  .wp-block-pullquote.alignfull > p,
  .wp-block-pullquote.alignfull > cite {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {
  margin-top: 0;
  margin-bottom: calc(0.75 * 1.5rem);
  margin-bottom: var(--space-sm);
}

.wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-pullquote.alignleft blockquote p, .wp-block-pullquote.alignright blockquote p {
  padding-top: 0;
}

.wp-block-pullquote > p:first-child {
  margin-top: 0;
}

.wp-block-pullquote.alignfull {
  max-width: calc( 100vw - 2em) !important;
}

.wp-block-separator {
  margin-top: calc(1.25 * 1.5rem) !important;
  margin-top: var(--space-md) !important;
  margin-bottom: calc(1.25 * 1.5rem) !important;
  margin-bottom: var(--space-md) !important;
  padding: 0;
  width: 100px;
}

.wp-block-separator.is-style-wide {
  width: 100%;
}

.wp-block-separator.is-style-dots {
  background-color: #ffffff;
  background-color: var(--color-shade-white);
  width: auto;
}

.wp-block-separator.is-style-dots:before {
  content: "\00b7 \00b7 \00b7 \00b7 \00b7";
  color: #8b949d;
  color: var(--color-shade-gray-4);
  /* family@include globalvar(font-family, body); */
  font-size: calc( 1em * ( 1.2 * 1.2 ) );
  font-size: var(--font-size-lg);
  letter-spacing: 1em;
  padding-left: 1em;
}

@media only screen and (min-width: 815px) {
  .wp-block-separator.is-style-dots {
    max-width: calc( 6 * ( 80px + 25px ) - 25px);
    max-width: var(--grid-column-6);
  }
}

.wp-block-file > a:first-child {
  color: inherit;
  box-shadow: none;
}

.wp-block-file > a:first-child:hover {
  text-decoration: underline;
}

.wp-block-file.aligncenter, .wp-block-file.alignfull, .wp-block-file.alignwide {
  text-align: center;
}

@media only screen and (min-width: 815px) {
  .wp-block-file.alignfull {
    padding: 0 calc(0.75 * 1.5rem);
    padding: 0 var(--space-sm);
  }
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  display: inline-block;
  padding: calc(0.25 * 1.5rem);
  padding: var(--space-xxs);
  font-size: calc( 1em / 1.2 );
  font-size: var(--font-size-sm);
  font-style: italic;
}

.wp-block-embed.alignwide iframe, .wp-block-embed.alignfull iframe, .wp-block-embed.aligncenter iframe {
  margin: 0 auto !important;
}
